graft docs
graft tests

include *.in
include *.ini
include *.rst
include *.txt

include LICENSE
include Makefile
include conftest.py

recursive-include src *.pyx *.pxd

global-exclude __pycache__ *.py[cod]
global-exclude *.so *.dylib
global-exclude *.c *.cpp

graft src/yammh3/include
